@media screen and (max-width: 760px) {
  /* NAVIGATION */
  nav>ul {
    padding: 10px;
  }
  #main-content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: white;
      margin-top: 15px;
      width: 100%;
  }
  
  /* HEADER */
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
  button {
    margin-left: 45%;
  }
}
